## 1.	Import the necessary package to
a.	Set the current working directory
b.	Change the working directory

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Bala Piramanayagam\\Desktop\\Anaconda\\Inceptez\\Notebooks'

In [3]:
os.getcwd()

'C:\\Users\\Bala Piramanayagam\\Desktop\\Anaconda\\Inceptez\\Assignments'

## 2.	Create the string, int and float variable and delete them all in the next cell

In [5]:
var_STR = 'Hello'
print(var_STR)
print(type(var_STR))

Hello
<class 'str'>

In [9]:
x_int = 10
y_float = 10.11
print(x_int)
print(type(x_int))
print(y_float)
print(type(y_float))

10
<class 'int'>
10.11
<class 'float'>

In [10]:
del var_STR, x_int, y_float

In [11]:
print(var_STR)

NameError: name 'var_STR' is not defined

In [12]:
print (x_int)

NameError: name 'x_int' is not defined

In [13]:
print (y_float)

NameError: name 'y_float' is not defined

## 3.	What’s the result of assigning a value to a ‘keyword’?
a.	Please highlight the error

In [15]:
keyword = 10
print(keyword)

10

In [20]:
import keyword

In [19]:
keyword.kwlist

AttributeError: 'int' object has no attribute 'kwlist'

In [21]:
del keyword

In [26]:
import keyword

In [27]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [28]:
#Consider Var1 is the variable name (actually acts as a function)
def var1():
    """Multi-line statment assign to a variable without using backslash "\" at the end of each line"""

In [29]:
print(var1.__doc__)

Multi-line statment assign to a variable without using backslash "" at the end of each line

## 5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [30]:
step = 8
p = 999
for i in range(100,p,step):
    print (i)

100
108
116
124
132
140
148
156
164
172
180
188
196
204
212
220
228
236
244
252
260
268
276
284
292
300
308
316
324
332
340
348
356
364
372
380
388
396
404
412
420
428
436
444
452
460
468
476
484
492
500
508
516
524
532
540
548
556
564
572
580
588
596
604
612
620
628
636
644
652
660
668
676
684
692
700
708
716
724
732
740
748
756
764
772
780
788
796
804
812
820
828
836
844
852
860
868
876
884
892
900
908
916
924
932
940
948
956
964
972
980
988
996

## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [31]:
n = 0

for n in range(10):
    if n == n/2:
        break    # break here

    print('Number is ' + str(n))

print('Out of loop')

Out of loop

In [37]:


for num in range(10):
    print('Number is ' + str(num))
    if num == num/2:
        print('Break here')
        break    # break here

print('Out of loop')

Number is 0
Break here
Out of loop

## 7.	Write a simple function and call the docstring from outside the function

In [39]:
#function1 is function name
def function1():
    """This is a simple function, call the docstrint from outside the function"""
    print ("Assignment number 7")

In [40]:
print(function1.__doc__)

This is a simple function, call the docstrint from outside the function

## 8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. 
Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last
<< Formula to calculate semi-perimeter: s = (a+b+c )/2
<< Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5 >>
a.	15
b.	51
c.	17

In [13]:
from Calculation import calc1
print(calc1.a)
print (calc1.b)
print (calc1.c)
a1 = calc1.a
b1=calc1.b
c1=calc1.c

15
51
17

In [19]:
s=(a1+b1+c1 )/2
print(s)

41.5

In [22]:
type(s)

float

In [23]:
area = (s*(s-a1)*(s-b1)*(s-c1))*0.5
print(area)

-127983.40625

## 9.	Write a list comprehension to print the odd numbers from 0 to 100

In [34]:
list2 = list(range(101))
[a for a in list2 if a%2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

## 10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)

In [59]:
name = 'Bala'
vowels = ['a', 'e', 'i', 'o', 'u']
output = ''
length = len(name)
for i in range (length):
    if name[i] not in vowels:
      output = output + name[i]
        
print ("Name after removing vowels: ", output)

Name after removing vowels:  Bl