# Assignment 2: Bala Piramanayagam Feb 12-13

## 1.	Get the input for 2 variables though “input” function and pass them to a function to return the addition of two variables

In [1]:
def add_num(a,b):#function for addition
    sum=a+b;
    return sum; #return value

In [2]:
add_num(10,15)

25

## 2.	What happens if we try to add an int with str and vice versa. Please print out the error

In [3]:
a = 10
s = 'name'
sa = s+a

TypeError: can only concatenate str (not "int") to str

In [4]:
ab = 'string1'
n  = 12
abn = n + ab

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## 3.	Create a string variable for the word “Data Science” and see if the letter “s” is present in it using membership operators

In [6]:
word = "Data Science"
if 's' in word:
    print ("The letter 's' in " , word)
else:
    print ("The letter 's' not in " , word)

The letter 's' not in  Data Science

## 4.	Write a function and pass a number list as an argument to the function. And return True if the first and last number of a given list is same. If numbers are different then return False

In [19]:
#Create a function
def function1(a,b):
    if a == b:
        print (True)
    else:
        print (False)
    return

In [21]:
#Pass arguments and call the function
num_list = [1, 10, 100, 300,2, 2,1]
function1(num_list[0], num_list[-1])

True

## 5.	Iterate the given list of numbers (l1) and print only those numbers which are divisible by 5. (l1 = [10, 20, 33, 46, 55])

In [23]:
l1 = [10,20,33,46,55];
[a for a in l1 if a%5 == 0]

[10, 20, 55]

## 6.	Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.
a.	Hint: Separate return values with a comma

In [26]:
#Create a function
def calculation(vary1, vary2):
    tot = vary1+vary2;
    diff = vary1 - vary2;
    return tot,diff

In [27]:
calculation (3,2)

(5, 1)

In [28]:
calculation (4,5)

(9, -1)

## 7.	Write a program to demonstrate the following Syntax error
a.	SyntaxError: non-default argument follows default argument

In [29]:
def greet (arg2 = 'Good Morning', arg1):
    print ("Hello", arg1, arg2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_3328/1273844028.py, line 1)

## 8.	What’s recursion? Explain in your own words and write a program to create a recursive function to calculate the sum of numbers from 0 to 10

### I can say it as a self-made function. A function which can call by itself so that incase of looping on its own to reach the result.

In [1]:
def recursion(x):
    if x <= 1:
        return x
    else:
        return x + recursion(x-1)
n=10
print ('Sum of numbers from 0 to ', n, 'is ', recursion(n) )

Sum of numbers from 0 to  10 is  55

### 9.	Use filter and lambda function to calculate square for below numbers only if they are odd number
a.	[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [3]:
my_list = [12, 11, 53, 22, 21, 77, 87, 88, 98]
print(my_list)

[12, 11, 53, 22, 21, 77, 87, 88, 98]

In [4]:
fil = list(filter(lambda x : x % 2 != 0, my_list))
print ('Applying the filter operation', fil)

Applying the filter operation [11, 53, 21, 77, 87]

### Write a function (not a lambda function) and use it to demonstrate an example for map function (any logical function of your choice)

In [5]:
fil11 = list (map(lambda x: x.lower(), ['a', 'B', 'c', 'D', 'MAP', 'LIST', 'TEN']))
print(fil11)

['a', 'b', 'c', 'd', 'map', 'list', 'ten']